<li>
  <a href="{{ site.url }}//{{ site.baseurl }}//feed.xml" title="{{ site.theme_settings.str_rss_follow }}">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="mailto:{{ site.theme_settings.email_address }}" title="{{ site.theme_settings.str_email }}">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="{{ site.theme_settings.profile }}" title="{{ site.theme_settings.str_follow_on }} Profile">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
<li>
  <a href="{{ site.theme_settings.slideshare }}" title="{{ site.theme_settings.str_follow_on }} SlideShare">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
