.site-header {
  padding: 1%;
  background: $brand-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    @extend %nav-padding;
    @extend %nav-image-size;
    float: left;
    border-radius: 50%;
  }

  .site-title {
    @extend %nav-padding;
    @extend %font-size-content;
    @extend %nav-margin;
    float: left;
    font-weight: bold;
    line-height: 1.5;
  }

  nav {
    @extend %nav-padding;
    list-style: none;
    ul {
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
    a {
      &:hover {
        color: $link-color;
      }
      &#pull {
        i {
          @extend %nav-padding;
          float: right;
        }
      }
    }
  }
}


// To clear things when we float the element inisde nav and ul
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

/* ---- Responsive ---- */
@media (min-width: $small-size) {
  a#pull {
    display: none;
  }
}

@media screen and (max-width: $small-size) {
  nav {
    height: auto;

    ul {
      width: 100%;
      display: none;
      height: auto;
    }

    li {
      width: 100%;
      float: left;
      position: relative;
    }

    a {
      text-align: left;
      width: 100%;

      &#pull {
        display: block;
        width: 100%;
        position: relative;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 10px;
        }
      }
    }
  }
}
